[submodule "vendor/cpp-netlib"]
	path = vendor/cpp-netlib
	url = https://github.com/cpp-netlib/cpp-netlib.git
[submodule "vendor/bandit_with_gmock"]
	path = vendor/bandit_with_gmock
	url = https://github.com/mrk21/bandit_with_gmock.git
[submodule "vendor/bandit"]
	path = vendor/bandit
	url = https://github.com/joakimkarlsson/bandit.git
